################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Projeto.Fazenda/bin/Debug/net6.0
/Projeto.Fazenda/obj
